$selected: #2cd2ff;
$bkg-brown: #0e738b;
$z4: 30;
.Dropdown {
    position: relative;
    height: 3.9rem;
    z-index: $z4;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #9a9595;
        letter-spacing: 1.2px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #9a9595;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #9a9595;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #9a9595;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    input {
        box-sizing: border-box;
        width: 100%;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        color: white;
        border: none;
        outline: none;
    }
    ul {
        height: 12rem;
        li {
            position: relative;
            &.KeySelected {
                background-color: $selected;
                .SelectedOverlay {
                    display: inline-block;
                    background-color: $selected;
                }
            }
            &:hover {
                cursor: pointer;
            }
            &:focus {
                outline: none;
            }
        }
        li.Selected {
            background-color: #0f6676;
            &.KeySelected {
                background-color: $selected;
            }
            .SelectedOverlay {
                display: inline-block;
            }
        }
    }
    .SelectedOverlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        background-color: #4478ff;
    }
    .DropdownInputsWrapper {
        position: absolute;
        width: 100%;
    }
    .Image {
        width: 2.5rem;
        border-radius: 50%;
        border: 2px solid white;
    }
    .Label {
        margin-left: 1rem;
    }
}

.DropDownEnter {
    max-height: 0;
}

.DropDownEnterActive {
    max-height: 12rem;
    transition: all 200ms ease-out;
}

.DropDownExit {
    max-height: 12rem;
}

.DropDownExitActive {
    max-height: 0;
    transition: all 200ms ease-out;
}
