.Thumbnail {
    position: absolute;
    width: 180px;
    height: 300px;
    margin: 1rem;
    padding: 0.75rem;
    background-color: #daf4fe;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

.ImageContainer {
    position: relative;
    opacity: 0.7;
    cursor: pointer;
    transition: 250ms;
    outline: none;

    &:focus,
    &:hover {
        opacity: 1;

        .Expand {
            opacity: 0.3;
            transform: translateY(-50%) scale(1);
        }
    }
}

.Image {
    width: 100%;
}

.Expand {
    composes: IconResizeFullAlt from '../../styles/icons.scss';
    position: absolute;
    top: 50%;
    width: 100%;
    margin: 0 auto;
    color: white;
    opacity: 0;
    font-size: 2rem;
    text-align: center;
    background-color: transparent;
    transform: translateY(-50%) scale(0);
    transition: all 250ms ease-in-out;
}

.Title {
    font-size: 0.7rem;
    letter-spacing: 0.7px;
}

.GoToAlbum {
    composes: IconPicture from '../../styles/icons.scss';
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    color: #bcbbbb;
    font-size: 1.4rem;
    background-color: transparent;
    transition: all 250ms ease-in-out;

    &:hover {
        color: darkgoldenrod;
    }
}

.Likebox {
    composes: Heartbeat from '../../styles/animations.scss';
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    display: inline-block;
    vertical-align: top;
    font-size: 1.4rem;
    transform: scale(1);
}
