.Heartbeat {
    &:hover,
    &:focus {
        animation: heartbeat 1s ease-in-out both;
    }
}

@keyframes heartbeat {
    10%, 90% {
        transform: scale(0.95);
    }

    30%, 50%, 70% {
        transform: scale(0.9);
    }

    40%, 60% {
        transform: scale(1.1);
    }
}

.Popup {
    animation: popup 400ms ease-in-out;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: translateY(-50%) scale(0);
    }

    100% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}
