@font-face {
    font-family: 'fontello';
    src: url('../assets/fonts/icons/fontello.eot?85413409');
    src: url('../assets/fonts/icons/fontello.eot?85413409#iefix') format('embedded-opentype'),
    url('../assets/fonts/icons/fontello.woff2?85413409') format('woff2'),
    url('../assets/fonts/icons/fontello.woff?85413409') format('woff'),
    url('../assets/fonts/icons/fontello.ttf?85413409') format('truetype'),
    url('../assets/fonts/icons/fontello.svg?85413409#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85413409#fontello') format('svg');
  }
}
*/

[class^="icon"]:before, [class*=" icon"]:before {
    display: inline-block;
    width: 1em;
    margin-right: .2em;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    text-align: center;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
   /*  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);*/

    cursor: pointer;
}

.IconHeart:before {
    content: '\e800';
}

.IconHeartEmpty:before {
    content: '\e801';
}

.IconLeftOpen:before {
    content: '\e802';
}

.IconRightOpen:before {
    content: '\e803';
}

.IconCancel:before {
    content: '\e804';
}

.IconSearch:before {
    content: '\e805';
}

.IconPicture:before {
    content: '\e806';
}

.IconResizeFullAlt:before {
    content: '\f0b2';
}
