.ExpandedPhotoContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    width: 100vw;
    height: 100vh;
    background-color: rgba(black, 0.8);
}

.Photo {
    composes: Popup from '../../styles/animations.scss';
    position: relative;
    top: 50%;
    width: 80vw;
    max-width: 600px;
    height: 80vw;
    max-height: 600px;
    margin: 0 auto;
    transform: translateY(-50%);
    background-color: #0e738b;
    border-radius: 11px;

    img {
        width: 100%;
        border-radius: 11px;
    }

    @media all and (max-width: 768px) {
        width: 100vw;
        height: 100vw;
    }
}

.Close,
.GoToAlbum,
.Likebox {
    right: -3rem;
}

.Close {
    composes: IconCancel from '../../styles/icons.scss';
    position: absolute;
    top: 0.5rem;
    color: #bcbbbb;
    font-size: 2rem;
    background-color: transparent;

    &:hover {
        color: #a72d2d;
    }
}

.GoToAlbum {
    composes: IconPicture from '../../styles/icons.scss';
    position: absolute;
    top: 4rem;
    color: #bcbbbb;
    font-size: 2rem;
    background-color: transparent;

    &:hover {
        color: darkgoldenrod;
    }
}

.Title {
    padding: 0 1rem;
    color: white;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 1px;
    opacity: 0.4;
}

.Likebox {
    composes: Heartbeat from '../../styles/animations.scss';
    position: absolute;
    top: 7.5rem;
    font-size: 2rem;
}

@media all and (max-width: 768px) {
    .Close,
    .GoToAlbum,
    .Likebox {
        top: -2.5rem;
    }

    .Close {
        right: 1rem;
    }

    .GoToAlbum {
        right: 4rem;
    }

    .Likebox {
        right: 7rem;
    }
}
