.ThumbnailListContainer {
    composes: PrimaryColor from '../../styles/variables.scss';
   /* display: flex;
    flex-wrap: wrap;
    justify-content: center;*/
    width: 90%;
    margin: 0 auto;
}

.NoResults {
    margin-top: 2rem;
    color: #ebe6e6;
    letter-spacing: 1.2px;
}