.PhotoGalleryContainer {
    padding: 0 2rem 2rem 2rem;
}

.PhotoGallery {
    composes: PrimaryColor from '../../styles/variables.scss';
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.GalleryHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.AlbumTitle {
    float: left;
    width: 50%;
    color: white;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.Search {
    display: inline-block;
    width: 50%;
    margin-bottom: 2rem;
    text-align: center;

    @media screen and (max-width: 768px) {
        float: left;
        width: 100%;
        text-align: left !important;
    }
}

.NoResults {
    margin-top: 2rem;
    color: white;
    letter-spacing: 1.2px;
}

.AlbumSelectorContainer {
    position: relative;
}

.Dropdown {
    display: inline-block;
    width: 200px;
    margin: 2rem;
}

.AlbumIcon {
    composes: IconPicture from '../../styles/icons.scss';
    position: absolute;
    top: 48px;
    color: #4c3d30;
    font-size: 1.2rem;
    pointer-events: none;
}
