.SearchContainer {
    text-align: right;

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #9a9595;
        letter-spacing: 1.2px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #9a9595;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #9a9595;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #9a9595;
    }
}

.Input {
    display: inline-block;
    width: 80%;
    max-width: 500px;
    margin-left: 0.5rem;
    padding: 0.5rem;
    vertical-align: middle;
    color: #21201f;
    font-size: 1rem;
    letter-spacing: 2px;
    border: none;
    background-color: rgba(aliceblue, 0.8);
    border-radius: 4px;
    transition: background-color 250ms ease-in-out;

    &:focus {
        background-color: rgba(aliceblue, 1);
    }
}

.Label {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    letter-spacing: 1.2px;
    text-align: right;
}

.LabelIcon {
    color: #4c3d30;
    composes: IconSearch from '../../styles/icons.scss';
}
