.LikeIcon {
    composes: ColorLike from '../../styles/variables.scss';
    composes: IconHeart from '../../styles/icons.scss';
}

.UnlikeIcon {
    composes: ColorUnlike from '../../styles/variables.scss';
    composes: IconHeart from '../../styles/icons.scss';
}

.Input {
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

.Label {
    outline: none;
}
