.HeaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    color: white;
    background-color: #21201f;
    box-shadow: 0 4px 8px 0 rgba(black, 0.2);

    @media screen and (max-width: 480px) {
        padding: 1rem;
    }
}

.ShowFavorites {
    composes: IconHeart from '../../styles/icons.scss';
    color: #c1c1c1;
    font-size: 2rem;
    background-color: transparent;
    transition: color 300ms ease-in-out;

    @media screen and (max-width: 480px) {
        font-size: 1.6rem;
    }
}

.Selected {
    color: #34abf3;
}