.App {
    min-height: 101vh;
    padding-top: 100px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #c1c1c1;

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    button,
    input,
    option,
    select {
        border: none;
        outline: none;
        cursor: pointer;
    }
}
